$theme-color: #0057b8;
$grey-color: #f8f9fa;
$orange-color: #d96932;
$black-color: #666;
$white-color: #fff;

$application-background: $grey-color;
$menu-text-color: $white-color;
$menu-background: $theme-color;
$menu-button: $orange-color;
$menu-button-border: transparent;
$menu-height: 66px;
$menu-text-size: 16px;
$menu-logo-color: $white-color;

$cart-button: $orange-color;
$cart-text-color: $white-color;
