.message-view {
    margin: 90px 0 0;
    padding: 15px;
    border-radius: 10px;
    .message-container {
      background-color: white;
      padding: 0 10px;
      border-radius: 5px;
      .message-category-list {
          margin: 0;
          padding-left: 20px;
          list-style-type: none;
          li {
            padding: 8px 0;
            cursor: pointer;
            position: relative;
            .fa {
              position: absolute;
              top: 12px;
              left: -20px;
            }
          }
          .message-category-selected {
            font-weight: bold;
          }
        }
    }
}
